Substances that are not flammable are not capable of combustion.
Legislatures that are not bicameral are not divided into two separate houses.
People that are not known as billionaires do not have one billion dollars of capital or more.
Animals that are not active during the night are not nocturnal.
Objects that do not sink when placed in a body of water are not denser than water.
Pesticides that do not have harmful effects on birds do not contain DDT.
Materials that do not reflect most of the light that hits them do not have high albedo.
Ships that are not vulnerable to consumption by marine invertebrates do not have wooden hulls.
Conditions that are not hereditary do not have genetic causes.
Public transmissions that are not prohibited by the FCC do not use reserved frequencies.
Cases that are not tried in criminal court do not include criminal charges.
Methods of charge storage that are not temperature sensitive do not use chemical bonds.
Plants that do not have a bitter taste do not contain amarogentin.
Engines that are not limited to oxygen-rich environments do not burn hydrocarbon fuels.
Flowers that are not attractive to pollinators do not have bright coloration.
