Substances that are fireproof can not undergo combustion.
Legislatures that are not unicameral are divided into separate houses.
People that are known as billionaires have one billion dollars of capital or more.
Animals that are active during the day are not nocturnal.
Objects that float when placed in a body of water are less dense than water.
Pesticides that are safe for birds do not contain DDT.
Materials that reflect most of the light that hits them have high albedo.
Ships that are safe from consumption by marine invertebrates do not have wooden hulls.
Conditions that are strictly hereditary do not have environmental causes.
Public transmissions that are prohibited by the FCC do not use open frequencies.
Cases that are not tried in civil or superior court involve criminal charges.
Methods of energy storage that are temperature sensitive do not use kinetic potential.
Plants that have a sweet taste do not contain amarogentin.
Engines that work in oxygen-poor environments do not burn hydrocarbon fuels.
Flowers that are attractive to pollinators have bright coloration.
